.col-md-6 {
    margin: auto auto;
}
.row {
    min-height: 278px;
}

#content {
    margin-top:0;
}

a.btn {
    font-size: 20px;
    margin-bottom: 20px;
}

#patterntitle {
    text-align: center;
    color:#587792;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
}

p#buttons {
    text-align: center;
}
#rightbtn {
    margin-left: 20px;
}