body {
    font-family: sans-serif;
}
table {
    border: 2px solid black;
    text-align: center;

}
td {
    height: 40px;
    width: 100px;
}
td, th {
    border: 2px solid black;
}
.box {
    font-size: 25px;
    vertical-align: middle;
}
#scale {
    float: right;
    margin-left: 5px;
}
/*height of usable pdf page space is 1366px*/