@font-face{
    font-family: 'gilligans_island';
    src: url('GILLIGAN.TTF') format('truetype');
}
body {
    background-color: #52AD9C;
    font-family: 'Cherry Cream Soda', cursive;
}
a {
    color: #447604;
}
/*layout header*/
.row {
    min-height: 278px;
    margin-left: 10px;
}
.navbar {
    background-color: #cef3ff;
    margin-bottom: 0;
}
.container {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}
#sun {
    float: left;
}
#title {
    color: #47624F;
    font-weight: bold;
    font-size: 80px;
    font-family: 'gilligans_island';
    text-shadow: 0px 0px 5px #9FFCDF;
}
#header ul, h1{
    color: #47624F;
    list-style: none;
    display: block;
}
#header li {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#header a img {
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    margin-top: 0;
}
.radio {
    color: maroon;
}
/*FAQ page*/
#FAQ {
    list-style: none;
}
#FAQ li p {
    color:#333333;
    list-style: none;
    font-size: 15px;
}
h4:before {
    content: "\25b6";
    color: #9FFCDF;
    margin-right: 10px;
    text-shadow: 0px 0px 5px #47624F;
}
#FAQhead {
    color: #333333;
    font-weight: bold;
    list-style: none;
    text-shadow: 0px 0px 5px #9FFCDF;
}
h4 {
    color: #333333;
    text-shadow: 0px 0px 5px #9FFCDF;
}

/*input form*/
#formtitle {
    margin-left: 0;
    color: #47624F;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    font-family: 'gilligans_island';
    text-shadow: 0px 0px 5px #9FFCDF;

}
#form {
    text-align: center;
}
.form-control {
    color: #47624F;
    font-size: 20px;
}
input {
    margin-top: 10px;
}
#radios {
    text-align: center;
}
.btn {
    margin-top: 10px;
    color: white;
    background-color: #6CC551;
    padding: 6px 20px;
}
.btn:hover {
    color: white;
    background-color: #6CC551;
    text-shadow: 0px 0px 5px #fff;
}

#homepage {
    margin-left: 50px;
}

/*right side nav tabs*/
#navrow.row {
    min-height: 30px;
}
.tabs {
    color: white;
    background-color: #6CC551;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10%;
    padding: 6px;
    margin-right: 10px;
    text-align: right;
}
.tabs:hover {
    color: white;
    background-color: #6CC551;
    text-shadow: 0px 0px 3px #fff;
}
.nav-tabs {
    border-bottom: none;
    margin-bottom: 2px;
}

#colorscale, #aboutpage {
    display: none;
}

hr {
    margin-top: 5px;
}

#abouttitle {
    color: #47624F;
    text-shadow: 0px 0px 5px #9FFCDF;
}
#aboutpage p {
    font-size: 20px;
}
#scale td{
    padding-right: 10px;
}
#scale th{
    font-size: 20px;
}
