@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gallery";
}

<link href="~/Content/Gallery.css" rel="stylesheet" type="text/css"/>

<body>
    <div class="container">
        <h1>Gallery</h1>
        <h2>Have you made a temperature afghan you want to share? Please email a photo to weatherghan@gmail.com with your information so we can give you credit!</h2>
        <p>Put image in thumbnails and have an information pane appear when clicked</p>
    </div>
</body>
