
@{
    ViewBag.Title = "Home";
}
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet"/>
</head>

<body>
    <div id="homepage" class="container">
        <div class="row">
            <div id="form" class="col-md-6">
                <h1 id="formtitle">Get your afghan pattern!</h1>
                <div class="form-group row">
                    <form action="@Url.Action("DisplayPattern", "Home")" method="get">
                        <input type="text" class="form-control" name="zipcode" placeholder="Enter zipcode" required>
                        <input type="text" class="form-control" name="year" placeholder="Enter year" required>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <h2 id="FAQhead">FAQ:</h2>
                <ul id="FAQ">
                    <li>
                        <h4>What's a "weatherghan"?</h4>
                        <p>A weatherghan is a crocheted or knit blanket where each row represents a day in a specified year. The color used for each row is dependent on the weather for each day for a given location. For example, if it is 89 degrees F or above, the row would be red.</p>
                    </li>
                    <li>
                        <h4>Where does your weather data come from?</h4>
                        <p>Our weather data comes from the weather data records kept at major airports. The data is obtained through www.wunderground.com.</p>
                    </li>
                    <li>
                        <h4>I want to make one but I don't know how to crochet or knit!</h4>
                        <p>Check out the list of resources @Html.ActionLink("here","Resources", "Home") for some great places to learn online.</p>
                    </li>
                    <li>
                        <h4>What pattern should I use?</h4>
                        <p>Check out the patterns section located @Html.ActionLink("here", "Patterns","Home") to get some ideas.</p>
                    </li>
                </ul>
            </div>

            
        </div>
    </div>
</body>


