@{
    ViewBag.Title = "NewHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>

 <div class="jumbotron">
     <p id="logocenter"><img id="logo" src="~/Content/images/weatherghan sun (1).png" alt="..." /></p>
            <h1 id="weatherghan">Weatherghan</h1>
                <h3 id="quickdesc">Weatherghan is a tool that allows knitters and crocheters <br/> to easily create temperature afghans.</h3>
                <div id="form" class="col-md-offset-4 col-md-4">
                    <h1 id="formtitle">Get your afghan pattern!</h1>
                    <div class="form-group row">
                        <form action="@Url.Action("DisplayPattern", "Home")" method="get">
                            <input type="text" class="form-control" name="zipcode" placeholder="Enter zipcode" required pattern="^\d{5}$" title="Please enter a five digit US zip code.">
                            <input type="text" class="form-control" name="year" placeholder="Enter year" required pattern="\d{4}" title="Please enter a 4 digit year.">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
    

    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img id="question" src="~/Content/images/question.png" alt="...">
                        <div class="caption">
                            <h3>Temperature afghan???</h3>
                            <p>Temperature afghans are a crocheted or knit afghan (or scarf even!) where each row in the item represents a day in a year. The color of the row is the maximum temperature of that day translated to a color based on a scale. </p>
                            <p><a href="#" class="btn" role="button">See Examples</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img id="yarnball" src="~/Content/images/yarnball.png" alt="...">
                        <div class="caption">
                            <h3>I want to make one, but . . . </h3>
                            <p id="middlethumb">Don't know how to knit or crochet? Check out our list of resources.  Need a pattern? We've got a list of those, too! Curious about our color scale? Look <a href="#">here</a>.</p>
                            <p><a href="#" class="btn" role="button">Resources</a> <a href="#" class="btn btn-default" role="button">Patterns</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img id="face" src="~/Content/images/face.png" alt="...">
                        <div class="caption">
                            <h3>More about Weatherghan</h3>
                            <p>Weatherghan was created as a passion project for a coding bootcamp course.  I designed it because I was making a temperature aghan of my own for my daughter and got tired of scouring through weather data to get the colors I needed.</p>
                            <p><a href="#" class="btn" role="button">About</a> <a href="#" class="btn btn-default" role="button">Contact</a></p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

