@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Patterns";
}

<link href="~/Content/Patterns.css" rel="stylesheet" type="text/css" />

<body>
    <div id="content" class="container">
        <div class="row">
            <h1>Pattern Suggestions</h1>
            <h3>Check out my Ravelry Bundle <a href="http://www.ravelry.com/bundles/weatherghan-suggestions">here</a> for these and more pattern suggestions.</h3>
            <p>Please note: I am not the owner of any of these patterns. All credit belongs to their respective designers.</p>
            <p>These patterns are merely suggestions. You may need to adjust stitch counts, hook/needle choices, or yarn types based on your selections.</p>
            <p>I have only listed free patterns, but the possibilites are endless for what pattern you can use. Experiment!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th>Crochet Patterns</th>
                    <th>Knit Patterns</th>
                </tr>
                <tr>
                    <td><a href="http://www.ravelry.com/patterns/library/neat-ripple" target="_blank">Neat Ripple Afghan</a></td>
                    <td><a href="http://www.ravelry.com/patterns/library/newborn-baby-blanket" target="_blank">Newborn baby blanket</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.ravelry.com/patterns/library/crochet-granny-ripple-4-vidoes" target="_blank">Granny Ripple Afghan</a></td>
                    <td><a href="http://www.ravelry.com/patterns/library/ten-stitch-zigzag" target="_blank">Ten Stitch ZigZag</a></td>

                </tr>
                <tr>
                    <td><a href="http://www.ravelry.com/patterns/library/granny-stripes-2" target="_blank">Granny Stripes</a></td>
                    <td><a href="http://www.ravelry.com/patterns/library/chevron-baby-blanket-19" target="_blank">Chevron Baby Blanket</a></td>

                </tr>
                <tr>
                    <td><a href="http://www.ravelry.com/patterns/library/rainbow-junkies-soft-granny-ripple" target="_blank">Soft Granny Ripple</a></td>
                    <td><a href="http://www.ravelry.com/patterns/library/new-super-easy-baby-blanket" target="_blank">Super Easy Baby Blanket</a></td>

                </tr>
                <tr>
                    <td><a href="http://www.ravelry.com/patterns/library/ribbon-afghan" target="_blank">Ribbon Afghan</a></td>
                    <td><a href="http://www.ravelry.com/patterns/library/honeycomb-baby-blanket-6" target="_blank">Honeycomb Baby Blanket</a></td>

                </tr>
                <tr>
                    <td><a href="http://www.ravelry.com/patterns/library/groovy-ghan" target="_blank">Groovy-ghan</a></td>
                    <td><a href="http://www.ravelry.com/patterns/library/western-hills---the-blanket" target="_blank">Western Hills - the Blanket</a></td>

                </tr>
            </table>
        </div>
    </div>

</body>