 @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Resources";
}
<link href="~/Content/Resources.css" type="text/css" rel="stylesheet"/>
<body>
    <div class="container">
        <div class="row">
            <h1 id="resources">Resources</h1>
            <div class="col-md-6">
                <p id="crochetcrowd"><a href="http://www.crochetcrowd.com" target="_blank"><img class="img-circle" src="~/images/crochetcrowd.png" /><br /></a></p>
                <h2>My favorite crochet resource.  I learned to crochet from Mikey and I recommend this site for anyone, beginner to advanced. A plethora of free tutorials (both left and right handed) as well as many free patterns and other resources.</h2>
                <p>Note: We are not affiliated with The Crochet Crowd. </p>
            </div>
        </div>
        <div id="advertising"class="row">
            <div class="col-md-12">
                <h2>Are you a blogger or vendor and want to advertise here? <br />Email me for more information at weatherghan@gmail.com</h2>
            </div>
        </div>
    </div>
   

</body>
